<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:gravity="center"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/colorBlue">


    <Button
        android:id="@+id/button4"
        android:layout_width="match_parent"
        android:layout_height="60dp"
        android:layout_margin="30dp"
        android:background="@color/colorBlue1"
        android:text="PACKAGE"
        android:textColor="@color/colorWhite"
        android:textSize="30dp" />


    <Button
        android:id="@+id/button5"
        android:layout_width="match_parent"
        android:layout_height="60dp"
        android:layout_margin="30dp"
        android:background="@color/colorBlue1"
        android:text="CONTACT US"
        android:textColor="@color/colorWhite"
        android:textSize="30dp" />

</LinearLayout>
